
  <%= form_tag '', method: :get do %>
  <div class="div-inline">
    <div class="dropdown dropdown-filter">
      <button id="dLabel2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="button-grey">
         Brand
      </button>
      <div class="dropdown-menu index-dropdown-menu" aria-labelledby="dLabel2">
          <%= text_field_tag :brand %>
      </div>
    </div>
    <div class="dropdown dropdown-filter">
      <button id="dLabel3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="button-grey">
         Model
      </button>
      <div class="dropdown-menu index-dropdown-menu" aria-labelledby="dLabel3">
          <%= text_field_tag :model %>
      </div>
    </div>
    <div class="dropdown dropdown-filter">
      <button id="dLabel4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="button-grey">
         Year
      </button>
      <div class="dropdown-menu index-dropdown-menu" aria-labelledby="dLabel4">
          <%= text_field_tag :year %>
      </div>
    </div>
      <div class="dropdown dropdown-filter">
      <button id="dLabel5" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="button-grey">
         Price
      </button>
      <div class="dropdown-menu index-dropdown-menu" aria-labelledby="dLabel5">
          <%= text_field_tag :price_per_day %>
      </div>
    </div>
      <div class="dropdown dropdown-filter">
      <button id="dLabel6" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="button-grey-last">
         Seats
      </button>
      <div class="dropdown-menu index-dropdown-menu" aria-labelledby="dLabel6">
          <%= text_field_tag :number_of_seats %>
      </div>
    </div>
      <div class="dropdown dropdown-filter">
      <%= select_tag :transmission, raw("<option selected disabled>Transmission</option><option>Manual</option><option>Automatic</option>") %>
    </div>
      <div class="dropdown dropdown-filter">
      <%= select_tag :category, raw("<option selected disabled>Category</option><option>Van</option><option>City Car</option><option>SUV</option><option>Motorbike</option><option>Scooter</option><option>Convertible</option><option>4WD</option>") %>
      </div>
    <%= submit_tag "Filter now!", class: "button-yellow"%>
  <% end %>
</div>

