<%= render 'filter' %>

<div class="main">
  <div class="row cards-container">
    <% if @vehicules.empty? %>
    <div class="col-xs-4 black-text">
      Vehicule not found. Would you like to search again?
      <form action="/vehicules" class="form-inline">
        <input type="text" name="location"id= "vehicule_location" class="form-control input-lg" placeholder="Where ?">
        <input type="submit" class="btn button-yellow" value="Search">
      </form>
    </div>
    <% else %>
    <div class="flex-wrap">
      <% @vehicules.each do |vehicule| %>
      <%= link_to vehicule_path(vehicule), style: 'text-decoration: none; color: black; text-align: left;' do %>
          <div class="card-index">
            <%= cl_image_tag vehicule.photo, height: 200, width: 300, class: 'card-img' %>
            <div class="card-name">
              <div class="flex-card-desc">
                <div>
                  <h1><%= vehicule.brand.upcase %></h1>
                  <p><%= vehicule.model.capitalize %></p>
                </div>
                <h1>$<%= vehicule.price_per_day %></h1>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
    <% end %>
    </div>
  </div>
    <% if params[:location] && @vehicules.any? %>
    <div id="map-container">
      <div
      id="map"
      style="
      width: 600px;
      flex: 0 0 550px;
      height: 101.5%;
      position: sticky !important;
      top: -10px !important;
      right: 0 !important;"
      data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
    <% else %>

    <% end %>
</div>


