<%= render 'filter' %>

<div class="container main">
  <div class="row cards-container">
    <% @vehicules.each do |vehicule|%>
      <div class="col-xs-12 col-sm-4">
      <% if vehicule.photo.file == nil %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
      <% else %>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path vehicule.photo %>');">
      <% end %>
        <div class="card-category">Popular</div>
          <div class="card-description">
            <h2><%= vehicule.brand %></h2>
            <p><%= vehicule.model %></p>
          </div>
        </div>
          <a><%= link_to "Show", vehicule_path(vehicule), class: "card-link"  %></a>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<% if params[:location] %>
<div
  id="map"
  class = "map_index"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

<% else %>

<% end %>
