<%= render 'filter' %>

<div class="main">
  <div class="row cards-container">
    <% if @vehicules.empty? %>
      <div class="col-xs-4 black-text">
        Vehicule not found. Would you like to search again?
        <form action="/vehicules" class="form-inline">
          <input type="text" name="location"id= "vehicule_location" class="form-control input-lg" placeholder="Where ?">
          <input type="submit" class="btn button-yellow" value="Search">
        </form>
      </div>
    <% else %>
      <% @vehicules.each do |vehicule|%>
        <div class="<%= params[:location] ? "col-xs-4" : "col-xs-12 col-md-3 col-sm-4"%>">
          <% if vehicule.photo.file == nil %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));">
          <% else %>
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path vehicule.photo %>');">
          <% end %>
              <div class="card-category">
                <%= vehicule.brand.upcase %>
                <%= vehicule.model.capitalize %>
              </div>
              <div class="card-description">
                <h4><%= vehicule.price_per_day %>$</h4>
              </div>
              <%= link_to "Show", vehicule_path(vehicule), class: "card-link"  %>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
  <% if params[:location] %>
    <div id="map-container">
      <div
      id="map"
      style="
      width: 600px;
      flex: 0 0 550px;
      height: 101.5%;
      position: sticky !important;
      top: -10px !important;
      right: 0 !important;"
      data-markers="<%= @markers.to_json %>"
      ></div>
    </div>
  <% else %>

  <% end %>
</div>



