<% if @vehicule.photo? %>
  <% photo_vehicule = cl_image_path @vehicule.photo, crop: :fill %>
<% else %>
  <% photo_vehicule = image_path('not_available.png') %>
<% end %>
<div class="banner" style="background-image: url('<%= photo_vehicule %>'); "></div>

<iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d11181.041007332382!2d-73.5993736!3d45.52496815!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sca!4v1527015380143" frameborder="0" style="border:0; border: 0;width: 100%; position: absolute; height: 126%; display: flex; top: 692px;" allowfullscreen>
</iframe>


<div class="show_container">
  <div class="container_elements">
  <h1 class="show_h1"><%= @vehicule.brand  %> <%= @vehicule.model %> </h1>
  <h2 class="show_h2"><%= @vehicule.year %></h2>
  <div class="flex">
  <ul class="show_ul">
      <li class="show_li"><%= image_tag("mileage.svg", size: "37x37", alt: "Icon mileage")%> <%= @vehicule.mileage %> kms</li>
      <li class="show_li"type=""><%= image_tag("transmission.svg", size: "37x37", alt: "Icon transmission")%> <%= @vehicule.transmission %> </li>
      <li class="show_li"><%= image_tag("car.svg", size: "37x37", alt: "Icon car")%> <%= @vehicule.category %></li>
      <li class="show_li"><%= image_tag("dollar.svg", size: "37x37", alt: "Icon dollar")%> <%= @vehicule.price_per_day %> /day</li>
      <li class="show_li"><%= image_tag("seats.svg", size: "37x37", alt: "Icon seats")%> <%= @vehicule.number_of_seats %> seats
      </li>
      <li class="show_li"><%= image_tag("fuel_type.svg", size: "37x37", alt: "Icon fuel_type")%> <%= @vehicule.fuel_type %></li>
  </ul>
  <br>
  <h3 class="show_h3">Description</h3>
  <p class="description">Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>

  <h3 class="show_h3">Owner</h3>
  <% if @vehicule.user.photo? %>
    <% photo_user = cl_image_path @vehicule.user.photo, :transformation=>[
    {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
    {:width=>109, :crop=>"scale"}
    ] %>
  <% else %>
    <% photo_user = image_path('user_avatar.png') %>
  <% end %>
   <div class="avatar_user_random"></div>

   <div class="user_description">
        <span><%= @vehicule.user.first_name %> <%= @vehicule.user.last_name %></span>
       <p>Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla.</p>
   </div>
  </div>
  <div class="button"><p>Rent this car</p></div>
</div>
</div>


