<div class="container">


  <%= render 'devise/registrations/edit' %>

<!--   <div class="wrapper-white">
    <% @bookings_i_made.each do |booking| %>
      <div class="booking-card">
        <%= cl_image_tag booking.vehicule.photo, height: 300, width: 300, crop: :fill %>
        <div class="booking-description">
          <ul class="list-inline">
            <li><h1><%= booking.vehicule.brand.capitalize %></h1></li>
            <li><h2><%= booking.vehicule.model.upcase %></h2></li>
          </ul>
          <h3>Check-in : <%= booking.check_in %>  Check-out : <%= booking.check_out %></h3>
          <% if booking.status == "pending" %>
            <h2 style="color: yellow"><%= booking.status.upcase %></h2>
          <% elsif booking.status == "accepted" %>
            <h2 style="color: green"><%= booking.status.upcase %></h2>
          <% elsif booking.status == "denied" %>
            <h2 style="color: red"><%= booking.status.upcase %></h2>
          <% end %>
        </div>
      </div>
    <% end %>
    <% @bookings_on_my_vehicule.each do |booking| %>
      <div class="booking-card">
        <%= cl_image_tag booking.vehicule.photo, height: 300, width: 300, crop: :fill %>
        <div class="booking-description">
          <ul class="list-inline">
            <li><h1><%= booking.vehicule.brand.capitalize %></h1></li>
            <li><h2><%= booking.vehicule.model.upcase %></h2></li>
          </ul>
          <h3>Check-in : <%= booking.check_in %>  Check-out : <%= booking.check_out %></h3>
          <p><%= booking.user.first_name %></p>
          <ul class="list-inline">
            <li><button class="button-yellow">Accept</button></li>
            <li><button class="button-yellow">Reject</button></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div> -->
</div>


